<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Developer's Den</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header class="level has-background-info-dark p-5">
      <h1 class="level-left is-size-2 has-text-weight-semibold has-text-white">
        The Developer's Den
      </h1>
      <nav class="level-right nav-bar">
        <ul class="level">
          <li class="level-item">
            <a href="/" class="button is-white nav-btn is-outlined" id="nav-home">Home</a>
          </li>
          <li class="level-item">
            <a href="/dashboard" class="button is-white nav-btn is-outlined" id="nav-dashboard">Dashboard</a>
          </li>
          {{#if logged_in}}
            <li class="level-item">
              <button class="button is-white nav-btn is-outlined" id="logout-btn">Logout</button>
            </li>
          {{else}}
            <li class="level-item">
              <a href="/login" class="button is-white nav-btn is-outlined" id="nav-login">Login</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="p-5">
      {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>
