<div>
    <h4 class="is-size-2 has-background-info-light">Welcome to {{username}}'s Dashboard!</h4>

    <div class="create-blog">
        <h3 class="is-size-4">Create a New Blog Post:</h3>

        <form class="">
            <div class="field">
                <input class="input" type="text" name="new-post-title" placeholder="Title" />
            </div>
            
            <div class="field">
                <textarea class="textarea is-normal" name="new-post-description" placeholder="Your content here"></textarea>
            </div>
            <div class="field">
                <button type="submit" id="create-btn" class="button is-info">Create</button>
            </div>
        </form>
    </div>

    {{#if posts.length}}
        <h4 class="is-size-4 m-2">All Posts:</h4>
        {{> post-details}}
    {{/if}}
</div>

<script src="/js/create.js"></script>