{{#each posts as |post|}}
    <section class="card">
        <a href="/posts/{{post.id}}">
            <div class="level">
                <div class="level-left">
                    <header>{{post.title}}</header>
                </div>
                <div class="level-right">
                    <p>Posted by {{post.user.username}} on {{format_date date_created}}</p>
                </div>
            </div>
        </a>
    </section>
{{/each}}