<div>
  <section class="box">
    <h2 class="is-size-3">Login</h2>
    <form class="login-form">
      <div class="login-form control">
        <label for="username-login">Username:</label>
        <input class="input" type="text" id="username-login" placeholder="username" />
      </div>
      <div class="login-form control">
        <label for="password-login">Password:</label>
        <input class="input"  type="password" id="password-login" placeholder="password" />
      </div>
      <div class="login-form control">
        <button class="button is-info" type="submit" id="login-btn">Login</button>
      </div>
    </form>
    <a href="/signup">Don't have an account? Sign up!</a>
  </section>
</div>

<script src="/js/login.js"></script>