<div>
  <div>
    <h2>Login</h2>
    <form class="login-form">
      <div class="login-form">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div class="login-form">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div class="login-form">
        <button type="submit" id="login-btn">login</button>
      </div>
    </form>
    <a href="/signup">Don't have an account? Sign up!</a>
  </div>
</div>

<script src="/js/login.js"></script>